### Load librairies

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import re
import warnings
warnings.filterwarnings('ignore')

In [ ]:

# ============================================================================
# ÉTAPE 1 : CHARGER LES DONNÉES 2023
# ============================================================================

df_2023 = pd.read_excel('ponte_2023.xlsx')

# Convertir la colonne Date en datetime
df_2023['Date'] = pd.to_datetime(df_2023['Date'], format='%d/%m/%Y')


print("✓ 2023 chargé")
print(f"  - {len(df_2023)} jours")
print("----------------")
df_2023.info()

✓ 2023 chargé
  - 365 jours
----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            365 non-null    datetime64[ns]
 1   Joséphine       223 non-null    object
 2   Albertine       107 non-null    object
 3   Augustine       11 non-null     object
 4   Cunégonde       193 non-null    object
 5   Pioupioute      71 non-null     object
 6   Valérie         117 non-null    object
 7   Rémiel          74 non-null     object
 8   Saquiel         42 non-null     object
 9   T°C (12-15h)    365 non-null    float64
 10  T°C poulailler  189 non-null    object
 11  Pluie           365 non-null    float64
 12  Météo           364 non-null    object
 13  Commentaires    93 non-null     object
dtypes: datetime64[ns](1), float64(2), object(11)
memory usage: 40.1+ KB

In [3]:
poules_2023 = ['Joséphine', 'Albertine', 'Augustine', 'Cunégonde',
       'Pioupioute', 'Valérie', 'Rémiel', 'Saquiel']

In [4]:
# ============================================================================
# ÉTAPE 2 : CHARGER LES DONNÉES 2024 
# ============================================================================

df_2024 = pd.read_excel('ponte_2024.xlsx')

# Convertir la colonne Date en datetime
df_2024['Date'] = pd.to_datetime(df_2024['Date'], format='%d/%m/%Y')

print("✓ 2024 chargé")
print(f"  - {len(df_2024)} jours")
print("----------------")
df_2024.info()

✓ 2024 chargé
  - 366 jours
----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           366 non-null    datetime64[ns]
 1   Joséphine      7 non-null      object
 2   Albertine      113 non-null    object
 3   Cunégonde      147 non-null    object
 4   Valérie        131 non-null    object
 5   Pioupioute     2 non-null      object
 6   Rémiel         7 non-null      object
 7   Nina et Tina   117 non-null    object
 8   Nina           1 non-null      object
 9   Marans         327 non-null    object
 10  Tina           85 non-null     object
 11  T°C (12h-15h)  366 non-null    int64
 12  T°C nuit       340 non-null    float64
 13  Humidité       349 non-null    float64
 14  Pluie(mm)      366 non-null    float64
 15  Météo          365 non-null    object
 16  Commentaires   79 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(1), object(12)
memory usage: 48.7+ KB

In [7]:
poules_2024 = ['Joséphine', 'Albertine', 'Cunégonde', 'Valérie', 'Pioupioute',
       'Rémiel', 'Nina et Tina', 'Marans', 'Nina','Tina']

In [5]:
# CHARGER LES DONNÉES 2025
df_2025 = pd.read_excel('ponte_2025.xlsx')
# Convertir la colonne Date en datetime
df_2025['Date'] = pd.to_datetime(df_2025['Date'], format='%d/%m/%Y')
print("✓ 2025 chargé")
print(f"  - {len(df_2025)} jours")
print("----------------")
df_2025.info()

✓ 2025 chargé
  - 365 jours
----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              365 non-null    datetime64[ns]
 1   Cunégonde                         146 non-null    object
 2   Valérie                           84 non-null     object
 3   3 Marans                          194 non-null    object
 4   Joséphine                         2 non-null      object
 5   Rémiel                            4 non-null      object
 6   Pioupioute                        1 non-null      object
 7   œuf trouvé/date de la trouvaille  7 non-null      object
 8   T°C (12h-15h)                     349 non-null    float64
 9   T° mini                           352 non-null    float64
 10  Humidité                          348 non-null    float64
 11  Pluie(mm)                         108 non-null    float64
 12  Météo                             365 non-null    object
 13  Commentaires                      184 non-null    object
dtypes: datetime64[ns](1), float64(4), object(9)
memory usage: 40.1+ KB

In [6]:
df_2025.columns

Index(['Date', 'Cunégonde', 'Valérie', '3 Marans', 'Joséphine', 'Rémiel',
       'Pioupioute', 'œuf trouvé/date de la trouvaille', 'T°C (12h-15h)',
       'T° mini', 'Humidité', 'Pluie(mm)', 'Météo', 'Commentaires'],
      dtype='object')

In [4]:
# ============================================================================
# ÉTAPE 3 : CHARGER LES DONNÉES 2025 
# ============================================================================

df_2025 = pd.read_excel('ponte_2025.xlsx')

# Convertir la colonne Date en datetime
df_2025['Date'] = pd.to_datetime(df_2025['Date'], format='%d/%m/%Y')

print("✓ 2025 chargé")
print(f"  - {len(df_2025)} jours")
print("----------------")
df_2025.info()

✓ 2025 chargé
  - 365 jours
----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              365 non-null    datetime64[ns]
 1   Cunégonde                         146 non-null    object
 2   Valérie                           84 non-null     object
 3   3 Marans                          194 non-null    object
 4   Joséphine                         2 non-null      object
 5   Rémiel                            4 non-null      object
 6   Pioupioute                        1 non-null      object
 7   œuf trouvé/date de la trouvaille  7 non-null      object
 8   T° max(12h-14h)                   349 non-null    float64
 9   T° mini                           352 non-null    float64
 10  H %                               348 non-null    float64
 11  mm                                108 non-null    float64
 12  Météo                             365 non-null    object
 13  Commentaires                      184 non-null    object
dtypes: datetime64[ns](1), float64(4), object(9)
memory usage: 40.1+ KB

In [9]:
poules_2025 = ['Joséphine', 'Cunégonde', 'Valérie', 'Pioupioute',
       'Rémiel', 'Marans']

In [10]:
poules_communes_2023_2024_2025 = set(poules_2023).intersection(set(poules_2024), set(poules_2025))
print(f"✓ Poules communes aux trois années : {poules_communes_2023_2024_2025}")

✓ Poules communes aux trois années : {'Valérie', 'Pioupioute', 'Cunégonde', 'Joséphine', 'Rémiel'}

In [11]:
nouvelles_poules_2024 = set(poules_2024) - set(poules_2023)
print(f"✓ Nouvelles poules en 2024 : {nouvelles_poules_2024}")

✓ Nouvelles poules en 2024 : {'Nina et Tina', 'Nina', 'Tina', 'Marans'}

In [58]:
poules_disparues_en_2024 = set(poules_2023) - set(poules_2024)
print(f"✓ Poules disparues en 2024 : {poules_disparues_en_2024}")

✓ Poules disparues en 2024 : {'Saquiel', 'Augustine'}

In [14]:

# Renommer les colonnes météo de 2023 pour harmoniser avec 2024
df_2023 = df_2023.rename(columns={
    'T°C (12-15h)': 'T°C (12h-15h)',
    'Pluie': 'Pluie(mm)'
})

# Concaténer les deux dataframes
df = pd.concat([df_2023, df_2024, df_2025], ignore_index=True, join='outer')

df.head()

,Date,Joséphine,Albertine,Augustine,Cunégonde,Pioupioute,Valérie,Rémiel,Saquiel,T°C (12h-15h),...,Commentaires,Nina et Tina,Nina,Marans,Tina,T°C nuit,Humidité,3 Marans,œuf trouvé/date de la trouvaille,T° mini
0,2023-01-01,x,NaN,NaN,x,NaN,NaN,NaN,?,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-02,x,NaN,NaN,x,NaN,NaN,NaN,?,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-03,x,NaN,NaN,x,NaN,NaN,NaN,?,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-04,x,NaN,NaN,NaN,NaN,NaN,NaN,x,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-05,x,NaN,NaN,x,NaN,NaN,x,NaN,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## METEO

In [15]:
df['Météo'] = df['Météo'].str.lower()
df['Météo'].value_counts()

Météo
beau                                  313
couvert                                57
couvert/pluie                          42
pluie                                  40
pluie/éclaircies                       39
                                     ...
couvert/éclaircies/pluie-neige          1
pluie/éclaircies/orage avec grésil      1
ensoleillé/couvert/pluie                1
?                                       1
brouillard                              1
Name: count, Length: 214, dtype: int64

In [61]:
MAPPING_CORRECTIF =  {
    'acalmie':'accalmie', 
     'bruine puis très beau': 'bruine/très beau', 
     'beau puis bruine' : 'beau/bruine', 
     'averses, éclaircies' : 'averses/éclaircies',
    'soleil et qq nuages' : 'soleil/qq nuages', 
    'bruine le matin': 'bruine/mitigé',
    'fortes pluie' : 'fortes pluies',
    'éclairicie':'éclaircies'
}

def corriger_meteo(terme):
    if pd.isna(terme) or terme == '' or terme is None:
        return ''
    
    # Nettoyage de base : minuscule, retrait des espaces
    terme_nettoye = terme.lower().strip()
    
    # Essayer de mapper le terme nettoyé
    return MAPPING_CORRECTIF.get(terme_nettoye,terme)

df['Météo_Corrigée'] = df['Météo'].apply(corriger_meteo)

df = df.drop(columns=['Météo']).rename(columns={'Météo_Corrigée': 'Météo'})

In [62]:
# 1. Remplacer les NaN par une chaîne vide pour éviter les erreurs lors du .str.split()
#    et convertir tout en chaîne de caractères
df['Météo_Clean'] = df['Météo'].astype(str).replace('nan', '').str.strip()

# --- Séparation ---

# 2. Utiliser str.split() pour séparer la colonne
#    Le 'expand=True' transforme la série en DataFrame de nouvelles colonnes
df_split = df['Météo_Clean'].str.split(pat='/', expand=True)

# 3. Optionnel : Nettoyer les espaces blancs restants dans les nouvelles colonnes
for col in df_split.columns:
    if df_split[col].dtype == 'object':
        df_split[col] = df_split[col].str.strip()

# --- Intégration ---

# 4. Renommer les colonnes de manière explicite (Météo_1, Météo_2, etc.)
#    On prend le nombre maximum de composants trouvé + 1 (ici, 4 colonnes max par sécurité)
num_cols = min(4, df_split.shape[1]) # Limite à 4 colonnes ou moins si moins de séparateurs sont trouvés
colonnes_meteo = [f'Météo_{i+1}' for i in range(num_cols)]

# 5. Joindre ces nouvelles colonnes au DataFrame original (df)
df = pd.concat([df, df_split.iloc[:, 0:num_cols].set_axis(colonnes_meteo, axis=1)], axis=1)

# Optionnel : Supprimer la colonne temporaire de nettoyage si elle n'est plus nécessaire
del df['Météo_Clean']

'averse', 'orages', 'orage fort', 'vent chaud', 'qq nuages',
       'acalmie', 'belles éclaircies', 'dégradation','bruine puis très beau', 'beau puis bruine', 'averses, éclaircies',
       'temps lourd', 'soleil et qq nuages', 'bruine le matin',
       'maussade', 'très voilé', 'qq nuages', 'belles éclaircies',
       'orages', 'fortes pluie'

In [63]:
# Mapping des termes détaillés (Clé) vers la catégorie
MAPPING_METEO = {
    # Catégorie BEAU
    'beau': 'BEAU', 'soleil': 'BEAU', 'ensoleillé': 'BEAU', 'dégagé': 'BEAU', 
    'beau temps': 'BEAU', 'assez beau': 'BEAU', 'très beau' :'BEAU',
    
    # Catégorie PLUIE
    'pluie':'PLUIE', 'bruine': 'PLUIE','averse': 'PLUIE', 'averses': 'PLUIE', 'giboulées': 'PLUIE', 
    'qq gouttes': 'PLUIE', 'pluie fine': 'PLUIE', 'fortes pluies':'PLUIE',
    
    # Catégorie VENT
    'vent': 'VENT', 'tempête': 'VENT', 'vent violent': 'VENT', 'vent chaud': 'VENT',
    
    # Catégorie COUVERT/GRIS
    'couvert': 'COUVERT', 'nuageux': 'COUVERT', 'gris': 'COUVERT', 'voilé': 'COUVERT', 
    'brumeux': 'COUVERT', 'brouillard': 'COUVERT', 'nuageux/': 'COUVERT', 'brouillard épais': 'COUVERT',
    'très voilé' :'COUVERT',
    
    # Catégorie CHALEUR/FROID
    'froid': 'FROID', 'chaud': 'CHAUD', 'lourd': 'CHAUD', 'temps lourd':' CHAUD',
    'canicule': 'CANICULE', 'vigilance canicule': 'CANICULE',
    
    # Catégorie PHENOMENE SPECIFIQUE
    'neige': 'NEIGE', 'orage': 'ORAGE', 'orageux': 'ORAGE', 'orages': 'ORAGE',
    'orage fort': 'ORAGE',
    
    # Catégorie ECLAIRCIE
    'éclaircie': 'ECLAIRCIES', 'éclaircies': 'ECLAIRCIES', 'belles éclaircies':'ECLAIRCIES',

    # Catégorie NUAGES

    'qq nuages' : 'NUAGES',
    
    # Catégorie MITIGE / TRANSITION
    'mitigé': 'MITIGE', 'idem': 'MITIGE',
    
    # Autres (à ajuster selon vos données)
    'absente': 'NON ENREGISTRE',
}

# Fonction pour nettoyer et mapper (pour les cas complexes non couverts par le split)
def mapper_météo(terme):
    if pd.isna(terme) or terme == '' or terme is None:
        return 'NON RENSEIGNE'
    
    # Nettoyage de base : minuscule, retrait des espaces
    terme_nettoye = terme.lower().strip()
    
    # Essayer de mapper le terme nettoyé
    return MAPPING_METEO.get(terme_nettoye, 'AUTRE/NON CLASSE')

In [64]:
# Supposons que ces colonnes ont été créées avec le .str.split()
colonnes_meteo_detail = ['Météo_1', 'Météo_2', 'Météo_3', 'Météo_4']

# Créer les colonnes de Catégorie correspondantes
for col_detail in colonnes_meteo_detail:
    col_categorie = f"Type_{col_detail}" # Ex: 'Type_Météo_1'
    
    # Appliquer la fonction de mappage à la colonne de détail
    # On utilise .apply() pour appliquer la fonction 'mapper_météo' à chaque valeur
    df[col_categorie] = df[col_detail].apply(mapper_météo)

In [65]:
meteo_df = df[['Date', 'T°C (12h-15h)',
       'Pluie(mm)', 'Météo','Humidité', 'Météo_1', 'Météo_2',
       'Météo_3', 'Météo_4', 'Type_Météo_1', 'Type_Météo_2', 'Type_Météo_3',
       'Type_Météo_4']]

In [66]:
meteo_df

,Date,T°C (12h-15h),Pluie(mm),Météo,Humidité,Météo_1,Météo_2,Météo_3,Météo_4,Type_Météo_1,Type_Météo_2,Type_Météo_3,Type_Météo_4
0,2023-01-01,14.0,0.0,beau,NaN,beau,None,None,None,BEAU,NON RENSEIGNE,NON RENSEIGNE,NON RENSEIGNE
1,2023-01-02,13.0,0.0,beau,NaN,beau,None,None,None,BEAU,NON RENSEIGNE,NON RENSEIGNE,NON RENSEIGNE
2,2023-01-03,12.0,0.0,beau,NaN,beau,None,None,None,BEAU,NON RENSEIGNE,NON RENSEIGNE,NON RENSEIGNE
3,2023-01-04,15.0,0.0,beau,NaN,beau,None,None,None,BEAU,NON RENSEIGNE,NON RENSEIGNE,NON RENSEIGNE
4,2023-01-05,14.0,0.0,beau,NaN,beau,None,None,None,BEAU,NON RENSEIGNE,NON RENSEIGNE,NON RENSEIGNE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,2024-12-27,14.0,0.0,brumeux/beau,0.34,brumeux,beau,None,None,COUVERT,BEAU,NON RENSEIGNE,NON RENSEIGNE
727,2024-12-28,13.0,0.0,beau,0.38,beau,None,None,None,BEAU,NON RENSEIGNE,NON RENSEIGNE,NON RENSEIGNE
728,2024-12-29,8.0,0.0,éclaircie,0.55,éclaircie,None,None,None,ECLAIRCIES,NON RENSEIGNE,NON RENSEIGNE,NON RENSEIGNE
729,2024-12-30,7.0,0.0,beau/brouillard épais,0.46,beau,brouillard épais,None,None,BEAU,COUVERT,NON RENSEIGNE,NON RENSEIGNE
730,2024-12-31,9.0,0.0,beau,0.40,beau,None,None,None,BEAU,NON RENSEIGNE,NON RENSEIGNE,NON RENSEIGNE

In [67]:
meteo_df[meteo_df['Date'] < '2024-01-01'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 0 to 364
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           365 non-null    datetime64[ns]
 1   T°C (12h-15h)  365 non-null    float64
 2   Pluie(mm)      365 non-null    float64
 3   Météo          365 non-null    object
 4   Humidité       0 non-null      float64
 5   Météo_1        365 non-null    object
 6   Météo_2        149 non-null    object
 7   Météo_3        20 non-null     object
 8   Météo_4        2 non-null      object
 9   Type_Météo_1   365 non-null    object
 10  Type_Météo_2   365 non-null    object
 11  Type_Météo_3   365 non-null    object
 12  Type_Météo_4   365 non-null    object
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 39.9+ KB

In [68]:
com_df = df[['Date','Commentaires']]

In [69]:
com_df['Commentaires'].value_counts()

Commentaires
gelée matinale                                                12
avhydratC+Gascodrène                                           8
petite gelée matinale                                          7
0 œuf                                                          3
sable du Sahara                                                3
                                                              ..
vent/19°C à 7h30 du mat                                        1
même temps qu’hier/petite gelée matinale                       1
vigilance orange/pluie/grêle                                   1
tempête en fin de journée                                      1
Cunégonde et Albertine enrhumées/avicoryl pour tt le monde     1
Name: count, Length: 132, dtype: int64

In [70]:
com_df.to_csv("commentaires_2023_2024_POUR_TABLEAU.csv", sep=";", index=False)

## LES POULES ET LES PONTES

In [71]:
# Les Marans 

marans_original_df = df[['Date','Albertine', 'Nina et Tina','Marans','Nina' ,'Tina']]

marans_df = df[['Date','Albertine', 'Nina et Tina','Marans', 'Nina','Tina']]

In [72]:
marans_original_df

          Date Albertine Nina et Tina Marans Nina Tina
0   2023-01-01       NaN          NaN    NaN  NaN  NaN
1   2023-01-02       NaN          NaN    NaN  NaN  NaN
2   2023-01-03       NaN          NaN    NaN  NaN  NaN
3   2023-01-04       NaN          NaN    NaN  NaN  NaN
4   2023-01-05       NaN          NaN    NaN  NaN  NaN
..         ...       ...          ...    ...  ...  ...
726 2024-12-27       NaN          NaN      0  NaN  NaN
727 2024-12-28       NaN          NaN      0  NaN  NaN
728 2024-12-29       NaN          NaN      0  NaN  NaN
729 2024-12-30       NaN          NaN      0  NaN  NaN
730 2024-12-31       NaN          NaN      0  NaN  NaN

[731 rows x 6 columns]

In [73]:
#Sélection des colonnes conservées (poules uniquement)

df = df[['Date', 'Joséphine', 'Augustine', 'Cunégonde','Pioupioute', 
'Valérie', 'Rémiel', 'Saquiel','Albertine', 'Nina et Tina','Marans', 'Nina', 'Tina']]

In [74]:
df.fillna(value=0, inplace=True)
df

,Date,Joséphine,Augustine,Cunégonde,Pioupioute,Valérie,Rémiel,Saquiel,Albertine,Nina et Tina,Marans,Nina,Tina
0,2023-01-01,x,0,x,0,0,0,?,0,0,0,0,0
1,2023-01-02,x,0,x,0,0,0,?,0,0,0,0,0
2,2023-01-03,x,0,x,0,0,0,?,0,0,0,0,0
3,2023-01-04,x,0,0,0,0,0,x,0,0,0,0,0
4,2023-01-05,x,0,x,0,0,x,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,2024-12-27,0,0,x,0,0,0,0,0,0,0,0,0
727,2024-12-28,0,0,0,0,0,0,0,0,0,0,0,0
728,2024-12-29,0,0,x,0,0,0,0,0,0,0,0,0
729,2024-12-30,0,0,0,0,0,0,0,0,0,0,0,0
730,2024-12-31,0,0,x,0,0,0,0,0,0,0,0,0

In [75]:
# Dépivoter les colonnes de poules dans une colonne 'Poule' et mettre le contenu dans une colonne 'Ponte'

# 1. Identifier les colonnes à laisser INCHANGÉES (ID variables)
colonnes_id = ['Date']

# 2. Identifier les colonnes à DÉPIVOTER (Value variables)
colonnes_toutes_poules = ['Joséphine', 'Augustine', 'Cunégonde', 'Pioupioute', 
                   'Valérie', 'Rémiel', 'Saquiel','Albertine', 'Nina et Tina','Marans','Nina', 'Tina']

# 2. Identifier les colonnes à DÉPIVOTER (Value variables)
colonnes_marans = ['Albertine', 'Nina et Tina','Marans','Nina','Tina']


# Appliquer le dépivotement (melt)
df_long = df.melt(
    id_vars=colonnes_id, 
    value_vars=colonnes_toutes_poules,
    var_name='Poule',        # Nom de la nouvelle colonne qui prendra les noms des poules (ex: 'Joséphine')
    value_name='Ponte'       # Nom de la nouvelle colonne qui prendra les valeurs (0 ou 1)
)

marans_df_long = marans_df.melt(
    id_vars=colonnes_id, 
    value_vars=colonnes_marans,
    var_name='Poule',        # Nom de la nouvelle colonne qui prendra les noms des poules (ex: 'Joséphine')
    value_name='Ponte'       # Nom de la nouvelle colonne qui prendra les valeurs (0 ou 1)
)

In [76]:

liste_valeurs_oeufs = set(marans_df_long['Ponte'].unique()) | set(df_long['Ponte'].unique())

In [77]:
# Mappage des statuts pour l'identification rapide
STATUT_MAP = {
    'mue': 'Mue', 'implant': 'Traitement', 'fin traitement': 'Traitement', 'zentonyl': 'Traitement', 
    'antibio': 'Traitement', 'fin antibio': 'Traitement', 'couve': 'Couvaison', 
    'arrêt couvade': 'Fin couvaison', 'fin couvaison': 'Fin couvaison', 'problème': 'Problème', 
    'veut pondre': 'Prête à pondre', 'malade': 'Malade', 'ajout calcium': 'Soins', 
    'arrêt calcium': 'Soins', 'retrait point': 'Soins'
}

### Fonctions de traitement des pontes

In [78]:
def traiter_une_ponte(val):
    """
    Traite une valeur unique de Ponte.
    Retourne un dictionnaire avec: Ponte, Etat_oeuf, Doute, Statut_Poule, Remarques
    """
    
    # Valeurs par défaut
    resultat = {
        'Ponte': 0,
        'Etat_oeuf': 'RAS',
        'Doute': False,
        'Statut_Poule': 'Présente',
        'Remarques': ''
    }
    
    # Convertir en string et nettoyer les chevrons invisibles
    val = str(val).strip().replace('\xa0', '')
    
    # Cas NaN ou vide
    if val == 'nan' or val == '':
        return resultat
    
    # Cas 1: Valeurs numériques avec annotations n(+m)
    if re.match(r'^\d+\(\+\d+\)$', val):
        match = re.match(r'^(\d+)\(\+(\d+)\)$', val)
        n = int(match.group(1))
        m = int(match.group(2))
        resultat['Ponte'] = n + m
        resultat['Remarques'] = f"{m} oeufs trouvés dehors"
        return resultat
    
    # Cas 2: Valeurs avec 'x' et possibles annotations
    if 'x' in val.lower():
        # Cas: pur nombre suivi de 'x' (ex: '2x')
        if re.match(r'^\d+x$', val.lower()):
            nombre = int(val[:-1])
            resultat['Ponte'] = nombre
            return resultat
        
        # Cas: 'x' avec parenthèses (ex: 'x(mou)', 'x(cassé)')
        if re.match(r'^x\(.*\)$', val.lower(), re.IGNORECASE):
            resultat['Ponte'] = 1
            etat = re.search(r'\((.*?)\)', val)
            if etat:
                resultat['Etat_oeuf'] = etat.group(1)
            return resultat
        
        # Cas: 'x?' avec possibles parenthèses (ex: 'x?(mou)', 'x?(cassé)')
        if re.match(r'^x\?(?:\(.*?\))?$', val.lower(), re.IGNORECASE):
            resultat['Ponte'] = 1
            resultat['Doute'] = True
            etat = re.search(r'\((.*?)\)', val)
            if etat:
                resultat['Etat_oeuf'] = etat.group(1)
            return resultat
        
        # Cas: pur 'x' ou 'x '
        if re.match(r'^x\s*$', val.lower()):
            resultat['Ponte'] = 1
            return resultat
    
    # Cas: '?' seul
    if val == '?':
        resultat['Doute'] = True
        return resultat
    
    # Cas spécial: DCD (Décédée)
    if val.upper() == 'DCD':
        resultat['Statut_Poule'] = 'Décédée'
        return resultat
    
    # Cas 3: Valeurs numériques pures (0, 1, 2, 3)
    if re.match(r'^\d+$', val):
        resultat['Ponte'] = int(val)
        return resultat
    
   
    # Cas 4: Mots seuls (tous les autres)
    resultat['Remarques'] = val
    return resultat

In [79]:
def traiter_dataframe_ponte(df, colonnes_poules):
    """
    Traite un DataFrame avec plusieurs colonnes de poules.
    
    Paramètres:
    - df: DataFrame original
    - colonnes_poules: liste des noms de colonnes de poules
    
    Crée pour chaque poule 5 colonnes:
    - {poule}_Ponte
    - {poule}_Etat_oeuf
    - {poule}_Doute
    - {poule}_Statut_Poule
    - {poule}_Remarques
    """
    
    df_result = df[['Date']].copy()  # Garder la colonne Date
    
    for poule in colonnes_poules:
        # Appliquer le traitement à chaque valeur de la colonne
        donnees_traitees = df[poule].apply(traiter_une_ponte)
        
        # Extraire chaque champ dans une colonne séparée
        df_result[f'{poule}_Ponte'] = donnees_traitees.apply(lambda x: x['Ponte'])
        df_result[f'{poule}_Etat_oeuf'] = donnees_traitees.apply(lambda x: x['Etat_oeuf'])
        df_result[f'{poule}_Doute'] = donnees_traitees.apply(lambda x: x['Doute'])
        df_result[f'{poule}_Statut_Poule'] = donnees_traitees.apply(lambda x: x['Statut_Poule'])
        df_result[f'{poule}_Remarques'] = donnees_traitees.apply(lambda x: x['Remarques'])
    
    return df_result

In [80]:
def propager_statut_deces(series_statut):
    """
    Propager le statut 'Décédée' pour toutes les lignes
    après la première occurrence dans cette série.
    
    Exemple:
    ['Présente', 'Présente', 'Décédée', 'Présente'] 
    -> ['Présente', 'Présente', 'Décédée', 'Décédée']
    """
    
    a_deceder = series_statut == 'Décédée'
    
    if a_deceder.any():
        # Trouver la POSITION (index entier) de la première occurrence
        premier_deces_position = a_deceder.argmax()
        
        # Mettre à jour toutes les valeurs à partir de cette position
        series_statut.iloc[premier_deces_position:] = 'Décédée'
    
    return series_statut

In [81]:
def completer_donnees_ponte_wide(df_wide, colonnes_poules):
    """
    Complète les données de ponte au format wide (avant conversion en long).
    
    Étapes:
    1. Quand une poule 2024 n'est pas présente en 2023, on considère qu'elle est 'Absente' en 2023 et on
    met son statut à 'Absente' pour toutes les dates de 2023.
    2. Propager le statut 'Décédée' pour chaque poule
    3. Forcer Ponte=0 quand Statut_Poule='Décédée'

    
    Paramètres:
    - df_wide: DataFrame avec colonnes {poule}_Ponte, {poule}_Statut_Poule, etc.
    - colonnes_poules: liste des noms de poules
    
    Retourne: DataFrame complété
    """
    
    df_wide = df_wide.copy()
    
    for poule in colonnes_poules:
        col_statut = f'{poule}_Statut_Poule'
        col_ponte = f'{poule}_Ponte'
        
        # Propager le statut 'Décédée'
        df_wide[col_statut] = propager_statut_deces(df_wide[col_statut])
        
        # Forcer Ponte=0 quand Décédée
        df_wide.loc[df_wide[col_statut] == 'Décédée', col_ponte] = 0

    
    
    print(f"✅ Données complétées (format wide): {len(df_wide)} lignes")
    print(f"   Poules traitées: {', '.join(colonnes_poules)}")
    
    return df_wide

In [82]:
def convertir_format_long(df_wide, colonnes_poules):
    """
    Convertit le DataFrame du format wide au format long (pour Tableau).
    
    Paramètres:
    - df_wide: DataFrame avec colonnes {poule}_Ponte, {poule}_Etat_oeuf, etc.
    - colonnes_poules: liste des noms de poules
    
    Retourne un DataFrame avec colonnes: Date, Poule, Ponte, Etat_oeuf, Doute, Statut_Poule, Remarques
    """
    
    data_long = []
    
    for _, row in df_wide.iterrows():
        date = row['Date']
        
        for poule in colonnes_poules:
            data_long.append({
                'Date': date,
                'Poule': poule,
                'Ponte': row[f'{poule}_Ponte'],
                'Etat_oeuf': row[f'{poule}_Etat_oeuf'],
                'Doute': row[f'{poule}_Doute'],
                'Statut_Poule': row[f'{poule}_Statut_Poule'],
                'Remarques': row[f'{poule}_Remarques']
            })
    
    df_long = pd.DataFrame(data_long)
    
    # Réorganiser les colonnes dans un ordre logique
    df_long = df_long[['Date', 'Poule', 'Ponte', 'Etat_oeuf', 'Doute', 'Statut_Poule', 'Remarques']]
    
    return df_long

In [83]:
colonnes_poules = ['Joséphine', 'Augustine', 'Cunégonde', 'Pioupioute', 'Valérie',
       'Rémiel', 'Saquiel', 'Albertine', 'Nina et Tina', 'Marans', 'Nina','Tina']

df_traite = traiter_dataframe_ponte(df, colonnes_poules)

# 2. Compléter le statut
df_complete = completer_donnees_ponte_wide(df_traite, colonnes_poules)
for poule in colonnes_poules:
    if poule not in poules_2023:
        # Poule absente en 2023
        df_complete.loc[df_complete['Date'] < '2024-01-01', f'{poule}_Statut_Poule'] = 'Absente'
        # Forcer Ponte=0 quand Absente
        df_complete.loc[df_complete[f'{poule}_Statut_Poule'] == 'Absente', f'{poule}_Ponte'] = 0
        
# 3. Convertir en format long pour Tableau
df_long = convertir_format_long(df_complete, colonnes_poules)
df_long.head()

# Exporter pour Tableau
#df_long.to_csv('ponte_data_tableau.csv', index=False)

✅ Données complétées (format wide): 731 lignes
   Poules traitées: Joséphine, Augustine, Cunégonde, Pioupioute, Valérie, Rémiel, Saquiel, Albertine, Nina et Tina, Marans, Nina, Tina

        Date       Poule  Ponte Etat_oeuf  Doute Statut_Poule Remarques
0 2023-01-01   Joséphine      1       RAS  False     Présente
1 2023-01-01   Augustine      0       RAS  False     Présente
2 2023-01-01   Cunégonde      1       RAS  False     Présente
3 2023-01-01  Pioupioute      0       RAS  False     Présente
4 2023-01-01     Valérie      0       RAS  False     Présente

In [84]:
marans_df = df_long[df_long['Poule'].isin(['Albertine', 'Nina et Tina', 'Marans', 'Nina','Tina'])]
marans_df

           Date         Poule  Ponte Etat_oeuf  Doute Statut_Poule Remarques
7    2023-01-01     Albertine      0       RAS  False     Présente
8    2023-01-01  Nina et Tina      0       RAS  False      Absente
9    2023-01-01        Marans      0       RAS  False      Absente
10   2023-01-01          Nina      0       RAS  False      Absente
11   2023-01-01          Tina      0       RAS  False      Absente
...         ...           ...    ...       ...    ...          ...       ...
8767 2024-12-31     Albertine      0       RAS  False     Présente
8768 2024-12-31  Nina et Tina      0       RAS  False     Présente
8769 2024-12-31        Marans      0       RAS  False     Présente
8770 2024-12-31          Nina      0       RAS  False     Présente
8771 2024-12-31          Tina      0       RAS  False     Présente

[3655 rows x 7 columns]

In [85]:
df_2023_pre_marans_df = df_long[df_long['Poule'].isin(['Albertine','Joséphine', 'Augustine', 'Cunégonde', 'Pioupioute', 'Valérie',
       'Rémiel', 'Saquiel']) & (df_long['Date'] < '2024-01-01')]
df_2023_pre_marans_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2920 entries, 0 to 4375
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2920 non-null   datetime64[ns]
 1   Poule         2920 non-null   object
 2   Ponte         2920 non-null   int64
 3   Etat_oeuf     2920 non-null   object
 4   Doute         2920 non-null   bool
 5   Statut_Poule  2920 non-null   object
 6   Remarques     2920 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(4)
memory usage: 162.5+ KB

In [86]:
df_hors_marans_2024_df = df_long[df_long['Poule'].isin(['Joséphine', 'Augustine', 'Cunégonde', 'Pioupioute', 'Valérie',
       'Rémiel', 'Saquiel']) & (df_long['Date'] >= '2024-01-01')]
df_hors_marans_2024_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2562 entries, 4380 to 8766
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2562 non-null   datetime64[ns]
 1   Poule         2562 non-null   object
 2   Ponte         2562 non-null   int64
 3   Etat_oeuf     2562 non-null   object
 4   Doute         2562 non-null   bool
 5   Statut_Poule  2562 non-null   object
 6   Remarques     2562 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(4)
memory usage: 142.6+ KB

In [87]:
# Opération de repivotage
marans_df_pivoted = marans_df[['Date','Poule','Ponte']].pivot_table(
    index='Date',      # Nouvelle colonne d'index (les lignes)
    columns='Poule',   # Colonne dont les valeurs deviendront les NOUVELLES colonnes
    values='Ponte',    # Colonne dont les valeurs rempliront le tableau
    aggfunc='sum'      # Fonction d'agrégation (ici, 'sum' est sûr car il y a 1 valeur max par jour/poule)
).reset_index() # Ramène 'Date' en tant que colonne normale


print("\nDataFrame final (format large/pivoted) :\n")
marans_df_pivoted

DataFrame final (format large/pivoted) :

Poule       Date  Albertine  Marans  Nina  Nina et Tina  Tina
0     2023-01-01          0       0     0             0     0
1     2023-01-02          0       0     0             0     0
2     2023-01-03          0       0     0             0     0
3     2023-01-04          0       0     0             0     0
4     2023-01-05          0       0     0             0     0
..           ...        ...     ...   ...           ...   ...
726   2024-12-27          0       0     0             0     0
727   2024-12-28          0       0     0             0     0
728   2024-12-29          0       0     0             0     0
729   2024-12-30          0       0     0             0     0
730   2024-12-31          0       0     0             0     0

[731 rows x 6 columns]

In [88]:
marans_df_pivoted_2024 = marans_df_pivoted[marans_df_pivoted['Date'].dt.year == 2024]
marans_df_pivoted_2024.head(50)

Poule       Date  Albertine  Marans  Nina  Nina et Tina  Tina
365   2024-01-01          1       1     0             0     0
366   2024-01-02          0       0     0             0     0
367   2024-01-03          1       1     0             0     0
368   2024-01-04          0       0     0             0     0
369   2024-01-05          1       1     0             0     0
370   2024-01-06          0       0     0             0     0
371   2024-01-07          1       1     0             0     0
372   2024-01-08          0       0     0             0     0
373   2024-01-09          0       0     0             0     0
374   2024-01-10          0       0     0             0     0
375   2024-01-11          0       0     0             0     0
376   2024-01-12          0       0     0             0     0
377   2024-01-13          0       0     0             0     0
378   2024-01-14          0       0     0             0     0
379   2024-01-15          0       0     0             0     0
380   2024-01-16          0       0     0             0     0
381   2024-01-17          0       0     0             0     0
382   2024-01-18          0       0     0             0     0
383   2024-01-19          0       0     0             0     0
384   2024-01-20          0       0     0             0     0
385   2024-01-21          0       0     0             0     0
386   2024-01-22          0       0     0             0     0
387   2024-01-23          0       0     0             0     0
388   2024-01-24          0       0     0             0     0
389   2024-01-25          0       0     0             0     0
390   2024-01-26          0       0     0             0     0
391   2024-01-27          0       0     0             0     0
392   2024-01-28          0       0     0             0     0
393   2024-01-29          0       0     0             0     0
394   2024-01-30          0       1     0             1     0
395   2024-01-31          0       2     0             1     1
396   2024-02-01          0       0     0             0     0
397   2024-02-02          0       1     0             1     0
398   2024-02-03          0       1     0             1     0
399   2024-02-04          0       0     0             0     0
400   2024-02-05          1       1     0             0     0
401   2024-02-06          0       0     0             0     0
402   2024-02-07          1       2     0             1     0
403   2024-02-08          0       0     0             0     0
404   2024-02-09          1       2     0             1     0
405   2024-02-10          0       0     0             0     0
406   2024-02-11          1       2     0             1     0
407   2024-02-12          1       2     0             0     0
408   2024-02-13          0       1     0             0     0
409   2024-02-14          1       2     0             1     0
410   2024-02-15          0       0     0             0     0
411   2024-02-16          1       2     0             1     0
412   2024-02-17          0       1     0             1     1
413   2024-02-18          0       0     0             0     0
414   2024-02-19          0       0     0             0     0

In [89]:
marans_df_pivoted_2024.columns

Index(['Date', 'Albertine', 'Marans', 'Nina', 'Nina et Tina', 'Tina'], dtype='object', name='Poule')

In [90]:

def attribuer_nina(df, seed=42):
    """
    Attribue les pontes à Nina avec les contraintes :
    1. Chaque poule pond max 1 œuf/jour
    2. Total par jour (Albertine + Tina + Nina) <= 3
    3. Albertine est certaine
    4. Tina : certaine si Tina=1, aléatoire (50/50) si "Nina et Tina"=1 et Tina=0
    5. Les excédents Marans remontent aux jours précédents SANS VIOLER la contrainte
    
    Paramètres:
    - df: dataframe avec colonnes ['Date', 'Albertine', 'Marans', 'Nina et Tina', 'Nina','Tina']
    - seed: pour reproductibilité
    """
    
    if seed is not None:
        np.random.seed(seed)
    
    df = df.copy()
    n = len(df)
    
    # Étape 1 : Gérer l'attribution aléatoire pour "Nina et Tina"
    df['Tina_attr'] = df['Tina'].copy()
    df['Nina'] = 0
    
    # Où Tina = 0 et Nina et Tina = 1, c'est une attribution aléatoire
    mask_aleatory = (df['Tina'] == 0) & (df['Nina et Tina'] == 1)
    df.loc[mask_aleatory, 'Tina_attr'] = np.random.randint(0, 2, size=mask_aleatory.sum())
    df.loc[mask_aleatory, 'Nina'] = 1 - df.loc[mask_aleatory, 'Tina_attr']
    
    # Étape 2 : Propager les excédents Marans vers les jours précédents
    marans_attr = df['Marans'].values.copy().astype(float)
    nina_attr = df['Nina'].values.copy().astype(float)
    tina_attr = df['Tina_attr'].values.copy().astype(float)
    
    # Remonter de la fin vers le début
    for i in range(n - 1, 0, -1):
        albertine = df.iloc[i]['Albertine']
        tina = tina_attr[i]
        
        # Place disponible pour Nina aujourd'hui
        disponible_nina = max(0, 3 - albertine - tina)
        
        # Oeufs Marans à attribuer
        oeufs_marans = marans_attr[i]
        
        # Attribution à Nina (max 1)
        nina_attr[i] = min(1, min(disponible_nina, max(0, oeufs_marans - albertine - tina)))
        
        # Excédent à remonter
        excedent = oeufs_marans - albertine - tina - nina_attr[i]
        
        if excedent > 0:
            # Vérifier que le jour précédent peut l'accepter
            albertine_prev = df.iloc[i-1]['Albertine']
            tina_prev = tina_attr[i-1]
            nina_prev = nina_attr[i-1]
            
            place_dispo_prev = max(0, 3 - albertine_prev - tina_prev - nina_prev)
            
            # Remonter ce qu'on peut
            excedent_remonte = min(excedent, place_dispo_prev)
            marans_attr[i-1] += excedent_remonte
            
            # Ce qui n'a pas pu remonter... reste aujourd'hui (problème non résolu)
            # On le signale mais on l'attribue quand même à Nina si possible
            if excedent > excedent_remonte:
                # On essaie d'attribuer plus à Nina aujourd'hui
                supplementaire = min(1, excedent - excedent_remonte)
                if nina_attr[i] + supplementaire <= 1:
                    nina_attr[i] += supplementaire
    
    # Traiter le premier jour
    albertine_0 = df.iloc[0]['Albertine']
    tina_0 = tina_attr[0]
    disponible_nina_0 = max(0, 3 - albertine_0 - tina_0)
    nina_attr[0] = min(1, min(disponible_nina_0, max(0, marans_attr[0] - albertine_0 - tina_0)))
    
    df['Attribution_Nina'] = nina_attr.astype(int)
    
    # Vérifier les contraintes
    df['Total_jour'] = df['Albertine'] + df['Tina_attr'] + df['Attribution_Nina']
    
    return df

# Exemple d'utilisation :
# df = pd.read_csv('vos_donnees.csv')
# df = attribuer_nina(df, seed=42)
# print(df[['Date', 'Albertine', 'Marans', 'Tina_attr', 'Attribution_Nina', 'Total_jour']])

In [91]:
marans_attrib_df = attribuer_nina(marans_df_pivoted_2024)

In [92]:
marans_attrib_df = marans_attrib_df[['Date', 'Albertine', 'Tina_attr', 'Nina'
                  ]].rename(columns={'Tina_attr': 'Tina'})
marans_attrib_df

Poule       Date  Albertine  Tina  Nina
365   2024-01-01          1     0     0
366   2024-01-02          0     0     0
367   2024-01-03          1     0     0
368   2024-01-04          0     0     0
369   2024-01-05          1     0     0
..           ...        ...   ...   ...
726   2024-12-27          0     0     0
727   2024-12-28          0     0     0
728   2024-12-29          0     0     0
729   2024-12-30          0     0     0
730   2024-12-31          0     0     0

[366 rows x 4 columns]

In [93]:
marans_df.columns

Index(['Date', 'Poule', 'Ponte', 'Etat_oeuf', 'Doute', 'Statut_Poule',
       'Remarques'],
      dtype='object')

In [94]:
# Pivoter les données marans_attrib_df pour les fusionner avec df_hors_marans_df

marans_final_df = marans_attrib_df.melt(
    id_vars=['Date'],
    value_vars=['Albertine', 'Tina', 'Nina'],
    var_name='Poule',
    value_name='Ponte'
)

# Fusionner avec le dataframe marans_df pour récupérer les colonnes Etat_oeuf, Doute, Statut_Poule et Remarques 
# en fontion de la date et de la poule

marans_details_df = marans_df[['Date', 'Poule', 'Etat_oeuf', 'Doute', 'Statut_Poule', 'Remarques']]
marans_final_detailed_df = pd.merge(
    marans_final_df,
    marans_details_df,
    on=['Date', 'Poule'],
    how='left'
)
marans_final_detailed_df

           Date      Poule  Ponte Etat_oeuf  Doute Statut_Poule Remarques
0    2024-01-01  Albertine      1       RAS  False     Présente
1    2024-01-02  Albertine      0       RAS  False     Présente
2    2024-01-03  Albertine      1       RAS  False     Présente
3    2024-01-04  Albertine      0       RAS  False     Présente
4    2024-01-05  Albertine      1       RAS  False     Présente
...         ...        ...    ...       ...    ...          ...       ...
1093 2024-12-27       Nina      0       RAS  False     Présente
1094 2024-12-28       Nina      0       RAS  False     Présente
1095 2024-12-29       Nina      0       RAS  False     Présente
1096 2024-12-30       Nina      0       RAS  False     Présente
1097 2024-12-31       Nina      0       RAS  False     Présente

[1098 rows x 7 columns]

In [95]:
#  Combiner les dataframes 2023 pré-Marans, hors Marans 2024 et Marans final détaillé

# Créer dataframe pour Nina et Tina en 2023 avec Ponte = 0, Etat_Oeuf = RAS, Doute = False, Statut_Poule = 'Absente', Remarques = ''

nina_tina_2023_df = pd.DataFrame({
    'Date': df_2023_pre_marans_df['Date'].unique().tolist() * 2,
    'Poule': ['Nina', 'Tina'] * len(df_2023_pre_marans_df['Date'].unique()),
    'Ponte': 0,
    'Etat_oeuf': 'RAS',
    'Doute': False,
    'Statut_Poule': 'Absente',
    'Remarques': ''
})

marans_final_detailed_df = pd.concat([marans_final_detailed_df, nina_tina_2023_df], ignore_index=True)
df_final = pd.concat([df_2023_pre_marans_df, df_hors_marans_2024_df, marans_final_detailed_df], ignore_index=True)
df_final

           Date       Poule  Ponte Etat_oeuf  Doute Statut_Poule Remarques
0    2023-01-01   Joséphine      1       RAS  False     Présente
1    2023-01-01   Augustine      0       RAS  False     Présente
2    2023-01-01   Cunégonde      1       RAS  False     Présente
3    2023-01-01  Pioupioute      0       RAS  False     Présente
4    2023-01-01     Valérie      0       RAS  False     Présente
...         ...         ...    ...       ...    ...          ...       ...
7305 2023-12-27        Tina      0       RAS  False      Absente
7306 2023-12-28        Nina      0       RAS  False      Absente
7307 2023-12-29        Tina      0       RAS  False      Absente
7308 2023-12-30        Nina      0       RAS  False      Absente
7309 2023-12-31        Tina      0       RAS  False      Absente

[7310 rows x 7 columns]

In [96]:

df_final.to_csv("pontes_2023_2024_POUR_TABLEAU.csv", sep=";", index=False)
meteo_df.to_csv("meteo_2023_2024_POUR_TABLEAU.csv", sep=";", index=False)

#marans_df_long.to_csv("marans_2023_2024_POUR_TABLEAU.csv", sep=";", index = False)