In [1]:
import pandas as pd

In [4]:
ponte_df = pd.read_csv('ponte.csv', sep=';')
ponte_df

,Date,Joséphine,Albertine,Augustine,Cunégonde,Pioupioute,Valérie,Rémiel,Saquiel,T°C (12-15h),T°C poulailler,Pluie (0 = non renseigné),Météo,commentaires
0,1-janv.,x,NaN,NaN,x,NaN,NaN,NaN,?,NaN,NaN,NaN,NaN,NaN
1,2-janv.,x,NaN,NaN,x,NaN,NaN,NaN,?,NaN,NaN,NaN,NaN,NaN
2,3-janv.,x,NaN,NaN,x,NaN,NaN,NaN,?,NaN,NaN,NaN,NaN,NaN
3,4-janv.,x,NaN,NaN,NaN,NaN,NaN,NaN,x,15,NaN,0,beau,NaN
4,5-janv.,x,NaN,NaN,x,NaN,NaN,x,NaN,14,NaN,0,beau,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,27-déc.,NaN,x,NaN,x,NaN,NaN,NaN,NaN,17,5,0,beau,grosse gelée matinale
362,28-déc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4,0,gris,NaN
363,29-déc.,NaN,x,NaN,x,NaN,NaN,NaN,NaN,9,7,0,gris/éclaircies,NaN
364,30-déc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,7,0,beau,NaN
365,31-déc.,NaN,x?,NaN,x,NaN,NaN,NaN,NaN,7,6,2,pluie,NaN

In [10]:
ponte_df.describe()

,Date,Joséphine,Albertine,Augustine,Cunégonde,Pioupioute,Valérie,Rémiel,Saquiel,T°C (12-15h),T°C poulailler,Pluie (0 = non renseigné),Météo,commentaires
count,366,223,108,11,194,71,117,74,42,363,189,354,362,93
unique,366,3,5,5,3,6,4,6,6,39,30,32,97,79
top,1-janv.,x,x,x,x,x,x,x,x,15,20,0,beau,avhydratC+Gascodrène
freq,1,220,100,7,191,53,114,61,20,20,14,234,128,8

In [13]:
ponte_df.melt(id_vars=['Date', 'T°C (12-15h)','T°C poulailler','Pluie (0 = non renseigné)','Météo','commentaires'], value_vars=['Joséphine','Albertine','Augustine','Cunégonde','Pioupioute','Valérie','Rémiel','Saquiel'], 
              var_name='Nom de la poule', value_name='Ponte')

,Date,T°C (12-15h),T°C poulailler,Pluie (0 = non renseigné),Météo,commentaires,Nom de la poule,Ponte
0,1-janv.,NaN,NaN,NaN,NaN,NaN,Joséphine,x
1,2-janv.,NaN,NaN,NaN,NaN,NaN,Joséphine,x
2,3-janv.,NaN,NaN,NaN,NaN,NaN,Joséphine,x
3,4-janv.,15,NaN,0,beau,NaN,Joséphine,x
4,5-janv.,14,NaN,0,beau,NaN,Joséphine,x
...,...,...,...,...,...,...,...,...
2923,27-déc.,17,5,0,beau,grosse gelée matinale,Saquiel,NaN
2924,28-déc.,10,4,0,gris,NaN,Saquiel,NaN
2925,29-déc.,9,7,0,gris/éclaircies,NaN,Saquiel,NaN
2926,30-déc.,17,7,0,beau,NaN,Saquiel,NaN
2927,31-déc.,7,6,2,pluie,NaN,Saquiel,NaN